doctype html
html
	head
		title Css-tricks
		link(rel="stylesheet", href="/styles/main.min.css")
		script(src="js/main.js")
	body
		//- include src/button/index.pug
		//- include src/massa_popup/index.pug
		//- include src/background-attachment/index.pug
		include src/shining-text/index.pug


		